<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="showDish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{showDish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{showDish.image}} alt={{showDish.name}}>
      <mat-card-content>
        <p>{{showDish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">BACK</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" >
    <mat-list fxFlex *ngIf="showDish">
      <h3>Comments</h3>
      <mat-list-item *ngFor="let commentDesc of showDish.comments">
        <h1 matLine>{{commentDesc.comment}}</h1>
        <p matLine>
          <span>{{commentDesc.rating}} stars</span>
        </p>
        <p matLine>
            <span>-- {{commentDesc.author}} {{commentDesc.date | date}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>

  <div [hidden]="showDish">
    <mat-spinner></mat-spinner>
    <h4>Loading.. Please wait</h4>
  </div>
</div>
